<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pilotage de l'activité des courtiers</h1>
    <br>
  </div>
</div>


<div class= "container mt-5">

  <section>
    <h2>Synthèse par agence</h2>

    <table class="table my-4">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Lead période</th>
          <th scope="col">Lead max</th>
          <th scope="col">Progression</th>
          <th scope="col">Factu en cours</th>
        </tr>
      </thead>

      <tbody>

        <% @broker_agencies.each do |broker_agency| %>
          <tr>
            <td>
              <%= broker_agency.name%>
            </td>
            <td>
              <%= broker_agency.current_period_provided_leads%>
            </td>
            <td>
              <%= broker_agency.max_period_leads%>
            </td>
            <td>
            <% progress =  (broker_agency.current_period_provided_leads.to_f / broker_agency.max_period_leads.to_f)*100%>
            <% color = progress >= 100 ? "bg-success" : "bg-danger" %>
              <div class="progress">
                <div class="progress-bar  <%= color%>" role="progressbar" style="width: <%= progress%>%;" aria-valuenow="<%= progress%>" aria-valuemin="0" aria-valuemax="100"><%= progress%>%</div>
              </div>
            </td>
            <td>
              <%= broker_agency.current_period_provided_leads*broker_agency.default_pricing_lead %> €<span style="font-size:0.8em"> / <%= broker_agency.max_period_leads*broker_agency.default_pricing_lead %> €</span>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>