<h1>Charts</h1>

<h2> Subscriber</h2>
<h3> New subscribers created by day</h3>
<%= line_chart Subscriber.group_by_day(:created_at).count%>
<br>


<h2>Properties</h2>
<h3> New properties scrapped by day</h3>
<%= line_chart Property.group_by_day(:created_at).count%>

<h3> Sources</h3>
<% 
  date =Date.parse(Time.now.to_s)  
  props = Property.where(created_at:date.midnight..date.end_of_day )
%>

<%= pie_chart props.group(:source).count, title: "Biens scrapés aujourd'hui (#{props.count})" %>


<%= pie_chart Property.all.group(:source).count, title: "Biens scrapés depuis le début (#{Property.all.count})" %>

<%= line_chart [
  {name: "Today", data: props.group(:source).count},
  {name: "All time", data: Property.all.group(:source).count}
] %>

