<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pilotage de l'activité des courtiers</h1>
    <br>
  </div>
</div>


<div class= "container-fluid mt-5">

  <section>
    <h2 class="mb-2">Synthèse par agence</h2>

    <% @ba_by_status.each do |ba_group|%>
      <h3><%= ba_group.first[:status].capitalize%></h3>

      <% if ba_group.first[:status] != "free"%>
        <div class = "row">
          <div class = "col-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Agences abonnées</h5>
                <p class="card-text"><%= ba_group.count %> agences </p>
              </div>
            </div>
          </div>
          <div class = "col-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Revenu estimé</h5>
                <p class="card-text"><%= ba_group.map{|ba| ba[:current_paid_leads] * ba[:default_pricing_lead]}.inject(0){|sum,x| sum + x } %> € </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>


      <table class="table my-4">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Agglomeration</th>
            <th scope="col">Type de contrat</th>
            <th scope="col">Lead période (sur le dash)</th>
            <th scope="col"><span class="badge badge-success">DD</span></th>
            <th scope="col"><span class="badge badge-danger">SL</span></th>
            <th scope="col">Lead max</th>
            <th scope="col">Progression</th>
            <th scope="col">Factu en cours</th>
            <th scope="col">Plus</th>
            <th scope="col">Admin</th>
          </tr>
        </thead>

        <tbody>

          <% ba_group.each do |broker_agency| %>
            <tr>
              <td>
                <%= broker_agency[:name]%> 
              </td>
              <td>
                <span class="badge badge-primary"><%= broker_agency[:agglomeration] %></span>
              </td>
              <td>
                <% if  broker_agency[:contract_type] == "Ding Dong" %>
                  <span class="badge badge-success"><%= broker_agency[:contract_type] %></span>
                <% else %>
                  <span class="badge badge-warning"><%= broker_agency[:contract_type] %></span>
                <% end %>
              </td>
              <td>
                <%= broker_agency[:nb_leads] %> (<%= broker_agency[:nb_leads_dashboard] %> )
              </td>
              <td>
                <%= broker_agency[:nb_leads_ding_dong]  %> ( <%= broker_agency[:nb_leads] > 0 ? (broker_agency[:nb_leads_ding_dong].to_f / broker_agency[:nb_leads].to_f*100).round : "-" %> %) <span class="badge badge-light"> 🔥 <%= broker_agency[:nb_hot_leads] %></span>
              </td>
              <td>
                <%= broker_agency[:nb_leads_se_loger]  %> 
              </td>
              <td>
                <%= broker_agency[:max_period_leads]%>
              </td>
              <td>
              <% month_progress =  (Time.now.wday.to_f / 30)*100.round(2)%>
              <% color = broker_agency[:progress] >= month_progress ? "bg-success" : "bg-danger" %>
                <div class="progress">
                  <div class="progress-bar  <%= color%>" role="progressbar" style="width: <%= broker_agency[:progress]%>%;" aria-valuenow="<%= broker_agency[:progress]%>" aria-valuemin="0" aria-valuemax="100"><%= broker_agency[:progress].round(2)%>%</div>
                </div>
              </td>
              <td>
                <%= broker_agency[:progress] >= 100 ? "✅" : "" %>
                <%= broker_agency[:current_paid_leads]*broker_agency[:default_pricing_lead] %> €<span style="font-size:0.8em"> / <%= broker_agency[:max_period_leads]*broker_agency[:default_pricing_lead] %> €</span>
              </td>
              <td>
                <%= link_to "➕", "/dashboard/courtiers/#{broker_agency[:id]}", target: "_blank", style:"font-size: 1.2em"%>
              </td>
              <td>
                <%= link_to "🔧", "/admin/broker_agency/#{broker_agency[:id]}", target: "_blank", style:"font-size: 1.2em"%>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </section>
</div>