<div class="container mb-100">

    <div class="row mt-3"> 
        <div class="col d-flex justify-content-center"> 
            <img src="https://hellodingdong.com/assets/images/logo-ding-dong-full.png" class="mb-1 mr-2" style="height:30px">
        </div>
    </div>


    <div class= "row mt-3">
    <div class="col-12 d-flex">
        <ul class="breadcrumb justify-content-center w-100" style="background: #f7fafc">
        <%= link_to "📍Agglomération", step1_subscriber_researches_path, class:'badge-active col-12 col-md-2 text-center mb-1' %>
        <div class="badge-off col-12 col-md-2 text-center mb-1">⚙️Critères</div>
        <div class="badge-off col-12 col-md-2 text-center mb-1">💌Validation</div>
        </ul>
    </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h5 class="mt-4 mb-3 grey_dark">Les critères indispensables pour commencer</h6> 
            <p class="mt-4 mb-3 grey">📍 Dans quelle agglomération cherchez-vous un logement ? *</p>
                <%= simple_form_for @subscriber_research_wizard, as: :subscriber_research_wizard, url: validate_step_subscriber_researches_path do |f| %>
                <%= f.error_notification %>   
                <%= hidden_field_tag :current_step, 'step1' %>
                    <div class="d-flex">
                        <div class="card-group">
                            <% @agglos_infos.each do |agglo| %>
                                <div class="col-12 col-md-3 mb-4">
                                    <div class="card card_hover <%=agglo%>" onClick="checkedAgglomeration(className)" style="cursor: pointer;">
                                        <img 
                                        class="card-img-top" 
                                        src="<%= agglo[2] %>" 
                                        alt="agglomération">
                                        <div class="card-body" style="display: none;">
                                            <%= f.radio_button :agglomeration, 
                                                agglo[0],
                                                required: true
                                            %>
                                            <span class="form-check-label mb-2 ml-2 box_hover" >
                                                <%= agglo[0] %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <nav class="navbar navbar-light fixed-bottom d-flex justify-content-center bg-blue">
                            <div class="d-flex justify-content-center mt-2 mb-2">
                                <%= submit_tag "Etape suivante", class: "btn btn-outline-light"%>
                            </div>
                        </nav>
                    </div>
                <% end %>
        </div>
    </div>

</div>

<script>

    function checkedAgglomeration(className) {
        let card = document.getElementsByClassName(className)[0]
        let checkbox = card.children[1].children[0]
        let allCards = document.getElementsByClassName("card")

        if(className.includes("true")){ 
            checkbox.checked = true;
            for(i=0; i < allCards.length; i++){
                allCards[i].style.border = "none"
                card.style.border = "solid 1px #2458FC"
            }
        }
        else{
          alert("Hey hey, patience on ouvre bientôt ! 🎉")
        }
    }


$(document).ready(function(){
    $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
    });
});
</script>