<div class= "row">
  <div class="col-12 d-flex ">
    <ul class="breadcrumb justify-content-around w-100">
      <div class='active'>Agglomération</div>
      <div>Critères</div>
      <div>Canal</div>
    </ul>
  </div>
</div>

<%= simple_form_for @subscriber_research_wizard, as: :subscriber_research_wizard, url: validate_step_subscriber_subscriber_researches_path do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :current_step, 'step1' %>
  <%= f.input :agglomeration, as: :radio_buttons, collection: @agglos_infos, label_method: :first, value_method: :first %>

  <%= f.submit 'Continue' %>
<% end %>