<%= render "navbar" %>

  <h2 class="mt-5 text-center mb-5" style="color:#525f7f"> Toutes mes recherches</h1>


<% if false %>
<tr>
  <% @hunter_searches.each do |hunter_search| %>
  <td><%= hunter_search.research_name %></td>
  <td><%= hunter_search.max_price %></td>
  <td><%= link_to "Plus d'infos ", hunter_hunter_search_path(@hunter, hunter_search) %></td>
  <td><%= link_to "Supprimer", hunter_hunter_search_path(@hunter, hunter_search),
                  data: { :confirm => "Are you sure?" }, :method => :delete %></td>
  <td><%= link_to "Modifier", edit_hunter_hunter_search_path(@hunter, hunter_search) %></td>
  <hr/>
  <% end %>
</tr>
<% end %>
<% @hunter_searches.each do |hunter_search| %>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <%= link_to "Modifier", edit_hunter_hunter_search_path(@hunter, hunter_search), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Supprimer cette recherche", hunter_hunter_search_path(@hunter, hunter_search),
                      data: { :confirm => "Êtes-vous sûr?" }, class: "nav-link text-danger", :method => :delete %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= hunter_search.research_name.capitalize %></h5>
      <p class="card-text">Critères : <%= hunter_search.get_pretty_price %> € - <%= hunter_search.surface %>m2 - <%= hunter_search.max_price %></p>
      <p class="card-text">Zone :  <%= hunter_search.areas.join(" - ") %> </p>
      <%= link_to "Voir les derniers biens", hunter_hunter_search_path(@hunter, hunter_search), class: "btn btn-primary" %>
    </div>
  </div>
  <br/>
<% end %>