<%= form_for @lead, url: new_lead_path, method: :get do |f| %>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <img style="width: 40px;" class="mr-2" src="https://media-private.canva.com/Ipmvs/MAD4SIIpmvs/1/s.png?response-expires=Fri%2C%2024%20Apr%202020%2015%3A18%3A27%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200424T131452Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7414&X-Amz-Credential=AKIAJJATJK7JCUD446NA%2F20200424%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=f03d5ed044d6a33d43a4eba8b92ca25c5d5eca9cc04edaaf5066b31cae56791a" alt="Equipe Ding Dong"><img>
        <h4 class="text-center mb-0" style="color: #0470C1; font-weight:400">
            Projet immobilier
        </h4>
    </div>
      <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">🤔 Type de projet </h5>
      <% project_types = ["1er achat", "2e achat ou +", "Investissement Locatif", "Chasseur Immobilier"]%>
      <div class="d-flex flex-wrap">
        <% project_types.each do |project_type| %>
          <div 
              class="form-check mr-3 mb-2 <%=project_type%> d-flex radio-button box_hover"
              style="font-size: 1em;
                    border: solid 1px;
                    border-color:#ced4da;
                    padding: 5px 10px 0px 10px;
                    background: #e9ecef;
                    color: #525f7f;
                    border-radius: 36px;" 
              onclick="changeColorRadioButton(className)"
          >       <div>
                      <%= radio_button_tag 'selected_project_types[]', 
                          project_type, 
                          false, 
                          class: "box_hover",
                          id: project_type,
                          required: true
                      %>
                  </div>
                  <label class="form-check-label mb-2 ml-2 box_hover" for="<%=project_type%>">
                      <%= project_type %>
                  </label>

          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">💰 Prix d'achat maximum ? *</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">€</span>
            </div>
            <%= f.number_field :max_price, class: "form-control", placeholder:"Ex : 500000", min:"10000", max:"10000000", :required => true %>
        </div>
        </div>
        <div class="col-12 col-md-4">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">↔️ Surface minimum ? *</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">m2</span>
            </div>
            <%= f.number_field :min_surface, type:"number", class: "form-control", placeholder:"Ex : 30", min:"8", max:"400", :required => true   %>
        </div>
        </div>
        <div class="col-12 col-md-4">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">🏡 Nombre de pièces minimum ? *</h5>
          <div class="input-group mb-3">
              <%= f.number_field :min_rooms_number, class: "form-control", placeholder:"Ex : 1", min:"1", max:"6", :required => true   %>
          </div>
        </div>
      </div>

      <h5 class="mb-3 mt-4" style="color: #0470C1; font-weight:400;">📍 Quartiers précis ? *</h5>
      <div class="d-flex flex-wrap">
        <div 
        class="form-check mr-3 mb-2 box_hover"
        style="font-size: 1em;
              border: solid 1px #ced4da;
              padding: 5px 10px 0px 10px;
              background: #e9ecef;
              color: #525f7f;
              border-radius: 36px;" 
        >
            <input 
                type="checkbox" 
                id="tous" 
                class="checkbox-button-input box_hover"
                style="display: none"
                onclick="selectAll(className)"
            >
            <label for="tous" class="checkbox-allbutton-label box_hover">+ Tous / Aucun</label>
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <% @areas.each do |area| %>
          <div 
              class="form-check mr-3 mb-2 <%=area.name%> d-flex checkbox-button box_hover"
              style="font-size: 1em;
                    border: solid 1px #ced4da;
                    padding: 5px 10px 0px 10px;
                    background: #e9ecef;
                    color: #525f7f;
                    border-radius: 36px;" 

              onclick="changeColorCheckbox(className)"
          >       <div>
                      <%= check_box_tag 'selected_areas[]', 
                          area.name, 
                          false, 
                          class: "checkbox-button-input box_hover",
                          style: "display : none",
                          id: area.name
                      %>
                  </div>
                  <div>
                    +
                  </div>
                  <label class="form-check-label mb-2 ml-1 box_hover" for="<%=area.name%>">
                      <%= area.name %>
                  </label>

          </div>
        <% end %>
      </div>

        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">🧐 Critères spécifiques </h5>
        <div class="input-group mb-3">
            <%= f.text_area :specific_criteria, class: "form-control", placeholder:"Avec vue dégagée sur la Tour Eiffel ...", rows:5, cols:5, :required => false   %>
        </div>      


      <nav class="navbar navbar-light fixed-bottom d-flex justify-content-center" style="background-color: #0470C1">
        <div class="d-flex justify-content-center mt-2 mb-2">
            <%= f.submit "Accéder à Ding Dong 🚀", 
                class: "btn btn-outline-light", 
                style:"font-weight:600",
                onclick:"areasChecked()"
            %>
        </div>
      </nav>

       

        <div class="d-flex justify-content-center mt-4 mb-5">
        🧡
        </div>
    <% end %>



<script>

    function areasChecked(){
      let checkboxes = document.querySelectorAll('input[type="checkbox"]')
      let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
      if (!checkedOne) {
        alert('Sélectionne au moins un quartier 📍')
      }
    }
    
    function changeColorCheckbox(className) {

      let item = document.getElementsByClassName(className)[0]
      let image = item.children[1]
      let label = item.children[2]
      let checkboxValue = item.children[0].children[0].checked
    
      if(checkboxValue){ 
          item.style.backgroundColor = "#57b894"
          label.style.color = "white"
          item.style.border = "1px solid white"
          image.innerHTML = "👌";
        }
      else{
          item.style.backgroundColor = "#e9ecef"
          label.style.color = "#525f7f"
          item.style.border = "1px solid #ced4da"
          image.innerHTML = "+";
        }
    }

    function selectAll(className) {
        let all_items = document.getElementsByClassName(className)
        let all_label = document.getElementsByClassName("checkbox-allbutton-label")

        if(all_items[0].checked){
          all_label[0].innerHTML = "🌟Tous / Aucun"
          all_label[0].style.color = "white"
          all_label[0].parentNode.style.backgroundColor = "#57b894"
          all_label[0].parentNode.style.border = "1px solid white"
            for(i=1; i < all_items.length; i++){
                all_items[i].checked = true;
                all_items[i].parentNode.parentNode.style.backgroundColor = "#57b894"
                all_items[i].parentNode.parentNode.style.border = "1px solid white"
                all_items[i].parentNode.nextElementSibling.innerHTML = "👌"
                all_items[i].parentNode.nextElementSibling.nextElementSibling.style.color = "white"
            }
        }
        else{
          all_label[0].innerHTML = "+ Tous / Aucun"
          all_label[0].style.color = "#525f7f"
          all_label[0].parentNode.style.backgroundColor = "#e9ecef"
          all_label[0].parentNode.style.border = "1px solid #ced4da"
            for(i=1; i < all_items.length; i++){
                all_items[i].checked = false;
                all_items[i].parentNode.parentNode.style.backgroundColor = "#e9ecef"
                all_items[i].parentNode.parentNode.style.border = "1px solid #ced4da"
                all_items[i].parentNode.nextElementSibling.innerHTML = "+"
                all_items[i].parentNode.nextElementSibling.nextElementSibling.style.color  = "#525f7f"
            }
        }
    }

    function changeColorRadioButton(className) {
      let items = document.getElementsByClassName("radio-button")
      let item = document.getElementsByClassName(className)[0]
      let label = item.children[1]
      let checkboxValue = item.children[0].children[0].checked
    
      if(checkboxValue){ 
          for(i=0; i < items.length; i++){
              items[i].style.backgroundColor = "#e9ecef"
              items[i].children[1].style.color = "#525f7f"
          }
          item.style.backgroundColor = "#57b894"
          label.style.color = "white"
        }
    }


</script>