<%= form_for @lead, url: lead_index_path do |f| %>
   
    <div class="d-flex justify-content-center align-items-center mt-4">
        <img style="width: 40px;" class="mr-2" src="https://hellodingdong.com/ressources/identite.png" alt="identité Ding Dong"><img>
        <h4 class="text-center mb-0" style="color: #0470C1; font-weight:400">
            Identité
        </h4>
    </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">⬅️ Prénom *</h5>
          <div class="input-group mb-3">
              <%= f.text_field :firstname, class: "form-control", placeholder:"Jean", :required => true   %>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">➡️ Nom *</h5>
          <div class="input-group mb-3">
              <%= f.text_field :lastname, class: "form-control", placeholder:"Dupond", :required => true   %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">📧 Email *</h5>
          <div class="input-group mb-3">
              <%= f.email_field :email, class: "form-control", placeholder:"jean.dupond@gmail.com", :required => true   %>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">📞 Téléphone *</h5>
          <div class="input-group mb-3">
              <%= f.text_field :phone, class: "form-control", placeholder:"0783746253", :required => true   %>
          </div>
        </div>
      </div>

        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">✋ Une question en particulier ? </h5>
        <div class="input-group mb-3">
            <%= f.text_area :additional_question, class: "form-control", placeholder:"", rows:5, cols:5, :required => false   %>
        </div>

        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400">📱 Notre alerte est uniquement disponible sur Messenger, as-tu un compte Facebook ? *</h5>
        <% messenger_choices = ["Oui", "Non"]%>
        <div class="input-group mb-3">
          <div class="d-flex flex-wrap">
            <% messenger_choices.each do |messenger_choice| %>
              <div 
                  class="form-check mr-3 mb-2 <%=messenger_choice%> d-flex radio-button box_hover"
                  style="font-size: 1em;
                        border: solid 1px;
                        border-color:#ced4da;
                        padding: 5px 10px 0px 10px;
                        background: #e9ecef;
                        color: #525f7f;
                        border-radius: 36px;" 
                  onclick="changeColorRadioButton(className)"
              >       <div>
                          <%= radio_button_tag 'selected_messenger_choices[]', 
                              messenger_choice, 
                              false, 
                              class: "box_hover",
                              id: messenger_choice,
                              required: true
                          %>
                      </div>
                      <label class="form-check-label mb-2 ml-2 box_hover" for="<%=messenger_choice%>">
                          <%= messenger_choice %>
                      </label>

              </div>
            <% end %>
          </div>        
        </div>

        <%= f.hidden_field :project_type, value:@draft_lead["project_type"]  %>
        <%= f.hidden_field :max_price, value:@draft_lead["max_price"]  %>
        <%= f.hidden_field :min_surface, value:@draft_lead["min_surface"]  %>
        <%= f.hidden_field :min_rooms_number, value:@draft_lead["min_rooms_number"]  %>
        <%= f.hidden_field :specific_criteria, value:@draft_lead["specific_criteria"]  %>
        <%= f.hidden_field :areas, value:@draft_lead["selected_areas"]  %>
        <%= f.hidden_field :project_type, value:@draft_lead["project_type"]  %>


        


      <nav class="navbar navbar-light fixed-bottom d-flex justify-content-center" style="background-color: #0470C1">
        <div class="d-flex justify-content-center mt-2 mb-2">
            <%= f.submit "Accéder à Ding Dong 🚀", 
                class: "btn btn-outline-light", 
                style:"font-weight:600"
            %>
        </div>
      </nav>

       

        <div class="d-flex justify-content-center mt-4 mb-5">
        🧡
        </div>
    <% end %>



<script>

    function changeColorRadioButton(className) {
      let items = document.getElementsByClassName("radio-button")
      let item = document.getElementsByClassName(className)[0]
      let label = item.children[1]
      let checkboxValue = item.children[0].children[0].checked
    
      if(checkboxValue){ 
          for(i=0; i < items.length; i++){
              items[i].style.backgroundColor = "#e9ecef"
              items[i].children[1].style.color = "#525f7f"
          }
          item.style.backgroundColor = "#57b894"
          label.style.color = "white"
        }
    }


</script>