<p>Hello Etienne,</p>
<p>Quelqu'un se pose des questions sur son financement !!</p>


<h2>Détails</h2>

<ul>
  <li>Subscriber : <%= @subscriber.get_fullname %>, id: <%= @subscriber.id%>, agglomeration: <%= @subscriber.research.agglomeration%> </li>
  <% unless @subscriber.broker.nil?%>
    <li>Courtier du subscriber : <%= "#{@subscriber.broker.firstname} #{@subscriber.broker.lastname}" %>, id: <%= @subscriber.broker.id%> </li>
  <% end %>
</ul>

<h2>Question</h2>

<ul>
  <li>Catégorie : <%= @question_category %> </li>
  <li>Contenu : 
    <br><%= @question_content%> 
  </li>
</ul>