

<div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        Nous avons bien noté votre demande.
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-12">
      <h2>Vous souhaitez nous en dire plus ? </h2>
      <p class="lead"><% unless @subscriber.broker.nil? %> <%= @subscriber.broker.firstname %>, notre expert en financement est là pour vous accompagner <% end %></p>
    </div>
    <div class="col-12">
      <%= form_tag("/subscribers/#{@subscriber.id}/financement-submit", method: "post") do %>
        <div class="form-group">
          <%= label_tag 'question_category', 'Catégorie'%>
          <%= select_tag 'question_category', options_for_select(@question_categories, "1"), id:'question_category', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag 'question_content', 'Votre question'%>
          <%= text_area_tag 'question_content', params[:question_content], class: 'form-control', autofocus: true %>
        </div>
        <%= submit_tag "Envoyer", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>



