<%= form_for @subscriber, url: subscriber_path(@subscriber) do |f| %>

    <nav class="navbar navbar-light fixed-bottom bg-blue d-flex justify-content-center">
        <div class="d-flex justify-content-center mt-2 mb-2">
            <%= f.submit "Enregistrer mes critères 🚀", 
                class: "btn btn-outline-light", 
                style:"font-weight:600"
            %>
        </div>
    </nav>
    
      <h5 class="mb-3 mt-4" style="color: #0470C1; font-weight:400;">📍 Quartiers précis ? *</h5>
      <div class="d-flex flex-wrap">
        <label 
        for="tous"
        class="form-check mr-3 mb-2 box_hover label_non_active"
        >
            <input 
                type="checkbox" 
                id="tous" 
                class="checkbox-button-input box_hover"
                style="display: none"
                onclick="selectAll(className)"
            >
            <span  class="checkbox-allbutton-label box_hover mb-2 form-check p-0">+ Tous / Aucun</span>
        </label>
      </div>

        <div class="d-flex flex-wrap">
            <% @areas.each do |area| %>
            <label 
                for="<%=area.name%>"
                class="form-check mr-3 mb-2 <%=area.name%> d-flex checkbox-button box_hover <%=@subscriber.areas.include?(area) ? "label_active" : "label_non_active"%> "
                onclick="changeColorCheckbox(className)"
            >       <div>
                        <%= check_box_tag 'selected_areas[]', 
                            area.id, 
                            false, 
                            class: "checkbox-button-input box_hover",
                            style: "display : none",
                            id: area.name,
                            checked: @subscriber.areas.include?(area) && true
                        %>
                    </div>
                    <div>
                        <%=@subscriber.areas.include?(area) ? "👌" : "+"%>
                    </div>
                    <span class="form-check-label mb-2 ml-1 box_hover" >
                        <%= area.name %>
                    </span>

            </label>
            <% end %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">💰 Prix d'achat maximum ? *</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">€</span>
            </div>
            <%= f.number_field :max_price, class: "form-control", placeholder:"Ex : 500000", min:"10000", max:"10000000", :required => true %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">↔️ Surface minimum ? *</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">m2</span>
            </div>
            <%= f.number_field :min_surface, type:"number", class: "form-control", placeholder:"Ex : 30", min:"8", max:"400", :required => true   %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">🏡 Nombre de pièces minimum ? *</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_rooms_number, class: "form-control", placeholder:"Ex : 1", min:"1", max:"6", :required => true   %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">🎢 Étage minimum ?</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_floor, class: "form-control", placeholder:"Ex : 1", min:"0", max:"8" %>
        </div>
    
        <h5 class="mt-4 mb-6" style="color: #0470C1; font-weight:400;">🚠 Ascenseur à partir de quel étage ?</h5>
        <div class="input-group" style="margin-bottom:4.5rem">
            <%= f.number_field :min_elevator_floor, class: "form-control", placeholder:"Ex : 3", min:"0", max:"8"  %>
        </div>

        <div class="d-flex justify-content-center mt-4 mb-6">
        -------- 🔔--------
        </div>
      </p>
    <% end %>
    
    
    
<script>

    function areasChecked(){
      let checkboxes = document.querySelectorAll('input[type="checkbox"]')
      let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
      if (!checkedOne) {
        alert('Sélectionne au moins un quartier 📍')
      }
    }

    function changeColorCheckbox(className) {

      let label = document.getElementsByClassName(className)[0]
      let image = label.children[1]
      let checkboxValue = label.children[0].children[0].checked
    
      if(checkboxValue){ 
          image.innerHTML = "👌";
          label.classList.remove('label_non_active')
          label.className += " label_active"
        }
      else{
          image.innerHTML = "+";
          label.classList.remove('label_active')
          label.className += " label_non_active"
        }
    }

    function selectAll(className) {
        let all_labels = document.getElementsByClassName(className)
        let all_label = document.getElementsByClassName("checkbox-allbutton-label")

        if(all_labels[0].checked){
          all_label[0].innerHTML = "🌟Tous / Aucun"
          all_label[0].parentNode.classList.remove('label_non_active')
          all_label[0].parentNode.className += " label_active"
            for(i=1; i < all_labels.length; i++){
                all_labels[i].checked = true;
                all_labels[i].parentNode.parentNode.classList.remove('label_non_active')
                all_labels[i].parentNode.parentNode.className += " label_active"
                all_labels[i].parentNode.nextElementSibling.innerHTML = "👌"
            }
        }
        else{
          all_label[0].innerHTML = "+ Tous / Aucun"
          all_label[0].parentNode.classList.remove('label_active')
          all_label[0].parentNode.className += " label_non_active"
            for(i=1; i < all_labels.length; i++){
                all_labels[i].checked = false;
                all_labels[i].parentNode.parentNode.classList.remove('label_active')
                all_labels[i].parentNode.parentNode.className += " label_non_active"
                all_labels[i].parentNode.nextElementSibling.innerHTML = "+"
            }
        }
    }
</script>