<script>
$(document).ready(function(){
        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        removeItemButton: true,
        maxItemCount:100,
        searchResultLimit:100,
        renderChoiceLimit:100
        });
    });
    
</script>

<style>
    .mt-100 {
        margin-top: 100px
    }
    .choices__list--multiple .choices__item{
        background-color: #57B894 !important;
        border-color: #57B894 !important;
    }
</style>

<%= form_for @subscriber, url: subscriber_path(@subscriber) do |f| %>

    <nav class="navbar navbar-light fixed-bottom bg-blue d-flex justify-content-center">
        <div class="d-flex justify-content-center mt-2 mb-2">
            <%= f.submit "Enregistrer mes critères 🚀",
                         class: "btn btn-outline-light",
                         style: "font-weight:600" %>
        </div>
    </nav>  



      <h4 class="mb-3 mt-4" style="color: #0470C1; font-weight:600; ">Renseignez vos 6 critères de recherche ci-dessous : </h6> 

      <h5 class="mb-3 mt-4" style="color: #0470C1; font-weight:400;">1/7 📍 Arrondissement/ville ? *</h5>
      <div class="raw d-flex flex-wrap">
        <% if false %><h6>Paris</h6> <% end %>
        <div class="form-group col-12 p-0">
            <select multiple class="form-control" id="choices-multiple-remove-button" name="paris_areas[]">
                <% @paris_areas.each do |item| %>
                    <option value="<%= item[0] %>" <%= item[2] %>> <%= item[1] %></option>
                <% end %>
            </select>
        </div>
        <h6>Première couronne</h6>
        <div class="form-group col-12 p-0">
            <select multiple class="form-control" id="choices-multiple-remove-button" name="premiere_couronne_areas[]">
                <% @premiere_couronne_areas.each do |item| %>
                    <option value="<%= item[0] %>" <%= item[2] %>> <%= item[1] %></option>
                <% end %>
            </select>
        </div>
      </div>

    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">2/7 💰 Prix d'achat maximum ? *</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">€</span>
            </div>
            <%= f.number_field :max_price, class: "form-control", placeholder: "Ex : 500000", min: "10000", max: "10000000", :required => true %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">3/7 ↔️ Surface minimum ? *</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">m2</span>
            </div>
            <%= f.number_field :min_surface, type: "number", class: "form-control", placeholder: "Ex : 30", min: "8", max: "400", :required => true %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">4/7 🏡 Nombre de pièces minimum ? *</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_rooms_number, class: "form-control", placeholder: "Ex : 1", min: "1", max: "6", :required => true %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #0470C1; font-weight:400;">5/7 🎢 A partir de quel étage minimum ?</h5>
        <h6 style="color: #0470C1; font-weight:200;">ex: 1 si vous ne souhaitez pas de Rez-de-Chaussée</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_floor, class: "form-control", placeholder: "Ex : 1", min: "0", max: "8" %>
        </div>
    
        <h5 class="mt-4 mb-6" style="color: #0470C1; font-weight:400;">6/7 🚠A partir de quel étage souhaitez-vous un ascenseur?</h5>
        <h6 style="color: #0470C1; font-weight:200;">ex: 3 si vous souhaitez un ascenseur à partir du 3ème étage</h5>
        <div class="input-group mb-3" style="margin-bottom:4.5rem">
            <%= f.number_field :min_elevator_floor, class: "form-control", placeholder: "Ex : 3", min: "0", max: "8" %>
        </div>

       
        <h5 class="mt-4 mb-6" style="color: #0470C1; font-weight:400;">7/7 + de critères</h5>
        <h6 style="color: #0470C1; font-weight:200;">Cochez les cases suivantes si vous souhaitez recevoir uniquement les annonces contenant l'information suivante :</h5>
        <div class="form-check form-check-inline">
            <%= f.check_box :balcony, class: "form-check-input" %> 
            <%= f.label "Balcon", class: "form-check-label" %> 
        </div>
        <div class="form-check form-check-inline">
            <%= f.check_box :terrace, class: "form-check-input" %> 
            <%= f.label "Terrasse", class: "form-check-label" %> 
        </div> 
        <div class="form-check form-check-inline">
            <%= f.check_box :garden, class: "form-check-input" %> 
            <%= f.label "Jardin", class: "form-check-label" %> 
        </div>
        <div class="form-check form-check-inline">
            <%= f.check_box :last_floor, class: "form-check-input" %> 
            <%= f.label "Dernière étage", class: "form-check-label" %> 
        </div> 

        <br/><br/><br/>
        <div class="d-flex justify-content-center mt-4 mb-6">
        -------- 🔔--------
        </div>
      </p>
    <% end %>
    
    