<%= form_for @subscriber, url: subscriber_path(@subscriber) do |f| %>

    <nav class="navbar navbar-light fixed-top bg-primary d-flex justify-content-center">
        <div class="d-flex justify-content-center mt-2 mb-2">
            <%= f.submit "Enregistrer mes critères 🚀", class: "btn btn-outline-light", style:"font-weight:600" %>
        </div>
    </nav>
    
        <h5 class="mb-3" style="color: #525f7f; font-weight:400; margin-top:5em;">📍 Arrondissements ? *</h5>
    
        <div class="d-flex flex-wrap">
                <% @areas.each do |area| %>
                    <div 
                        class="form-check mr-3 <%=area.name%>" 
                        onclick="changeColor(className)"
                        <% if @subscriber.areas.include?(area) %> 
                        style="color:#57b894"
                        <%end%>
                    >
                            <%= check_box_tag 'selected_area[]', 
                                area.id, 
                                @subscriber.areas.include?(area) ? true : nil,
                                class: "form-check-input",
                                id: area.name
                            %>
                            <label class="form-check-label" for="<%=area.name%>">
                                <%= area.name %>
                            </label>
    
                    </div>
                <% end %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #525f7f; font-weight:400">💰 Prix d'achat maximum ? *</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">€</span>
            </div>
            <%= f.number_field :max_price, class: "form-control", placeholder:"Ex : 500000", :required => true %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #525f7f; font-weight:400">↔️ Surface minimum ? *</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">m2</span>
            </div>
            <%= f.number_field :min_surface, class: "form-control", placeholder:"Ex : 30", :required => true   %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #525f7f; font-weight:400">🏡 Nombre de pièces minimum ? *</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_rooms_number, class: "form-control", placeholder:"Ex : 1", :required => true   %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #525f7f; font-weight:400">🎢 Étage minimum ?</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_floor, class: "form-control", placeholder:"Ex : 1"  %>
        </div>
    
        <h5 class="mt-4 mb-3" style="color: #525f7f; font-weight:400">🚠 Ascenseur à partir de quel étage ?</h5>
        <div class="input-group mb-3">
            <%= f.number_field :min_elevator_floor, class: "form-control", placeholder:"Ex : 3"  %>
        </div>
    
        <div class="d-flex justify-content-center mt-4 mb-6">
            <%= f.submit "Enregistrer mes critères 🚀", class: "btn btn-primary", style:"font-weight:600" %>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-6">
        -------- 🔔--------
        </div>
      </p>
    <% end %>
    
    
    
    <script>
    
    function changeColor(className) {
      let item = document.getElementsByClassName(className)[0]
      let checkboxValue = item.children[0].checked
    
      if(checkboxValue){ 
          item.style.color = "#57b894"
        }
      else{
          item.style.color = "black"
        }
    
      console.log(item, checkboxValue);
    }
    </script>