

<div style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff">
  <center class="m_-1867408558110905584wrapper" style="width:100%;table-layout:fixed">
      <div class="m_-1867408558110905584webkit" style="max-width:600px">
          <table width="100%" align="center" bgcolor="#ffffff" class="m_-1867408558110905584outer" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:520px">
              <tbody>
              <tr>
                <td bgcolor="#ffffff" width="100%" align="center" height="30" style="border-bottom:2px solid #dfdfdf;padding-top:11px">
                    <table style="border-spacing:0;font-family:sans-serif;color:#262626" align="center">
                        <tbody><tr>
                            <td class="m_-1867408558110905584contents" align="center">
                                <a href="" style="color:#333333;text-decoration:none" target="_blank"><img src="https://hellodingdong.com/assets/images/logo-ding-dong-full.png" alt="Ding Dong" width="120" border="0" style="display:block;border:none;outline:none;text-decoration:none;margin:10 auto;font-family:Arial,Helvetica,sans-serif;font-size:20px;text-align:left" class="CToWUd"></a>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
              </tr>
              <tr style="margin-top: 50px;">
                <td align="center" style="line-height:27px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                  <h1>Un nouveau contact s'est inscrit chez Ding Dong</h1>
                </td>
              </tr>
              <tr>
                      <td>
                        <table class="border: solid 1px #000">
                            <tbody>
                            <h2>1 - Rentrez en contact avec lui</h2>
                            <tr>
                                <td style="padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;font-size:0">
                                    <div class="m_-1867408558110905584column" style="display:inline-block;vertical-align:top">
                                      <table class="m_-1867408558110905584col100" width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333">
                                        <tbody>
                                          <tr>
                                            <td class="m_-1867408558110905584col100" style="padding-top:10px;padding-bottom:10px;padding-right:0px;padding-left:0px">
                                              <table class="m_-1867408558110905584contents m_-1867408558110905584col100" style="border-spacing:0;font-family:sans-serif;width:100%;font-size:14px;text-align:center;color:#000">
                                                <tbody>
                                                  <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="font-size:18px;line-height:28px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                      <b><%= @subscriber.get_fullname %> </b>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="font-size:18px;line-height:28px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                      <b>Téléphone : <%= @subscriber.phone %></b>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="line-height:24px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                      email : <%= @subscriber.email %>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="line-height:24px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                      Budget :  min: <%= @subscriber.min_price %> - max: <%= @subscriber.max_price %>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="line-height:24px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                      Surface min : <%= @subscriber.min_surface %>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="line-height:24px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                      Secteurs: <%= @subscriber.get_areas_list %>
                                                    </td>
                                                  </tr>
                                                   <tr>
                                                    <td class="m_-1867408558110905584col100" align="center" style="line-height:24px;font-family:Arial,Helvetica,sans-serif;color:#262626;text-align:left">
                                                        Nb de pièces min: <%= @subscriber.min_rooms_number %>
                                                    </td>
                                                  </tr>
                                                  
                                                </tbody>
                                              </table>
                                            </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </td>
                            </tr>
                          </tbody>
                        </table> 
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2>2 - Finalisez son inscription</h2>
                        <p>Afin de finaliser son inscription chez Ding Dong et activer son alerte, il suffit de cliquer sur le bouton ci-dessous une fois que vous êtes rentré en contact avec lui.</p>
                        <table style="margin-left: 150px">
                            <tbody>
                            <tr style="margin-top:20px;">
                              <td class="" height="48" width="300" align="center" style="border-radius:24px; text-align:center;" bgcolor="#2458FC">
                                <a href="<%=ENV['BASE_URL']%>subscribers/activation/<%= @subscriber.id %>" style="font-size:16px;font-family:Arial,Helvetica,sans-serif;color:#ffffff;text-decoration:none;color:#ffffff;text-decoration:none;border-radius:26px;padding:10px 25px;display:inline-block" target="_blank" >Finaliser son inscription</a>
                              </td>
                            </tr>
                          </tbody>
                        </table> 
                      </td>
                    </tr>
                    <hr>
                    <tr>
                      <td>
                        <h2>Discours type</h2>
                        <p style="text-decoration:underline" id="pr-sentation-">
                          1. Présentation :
                        </p>
                        <p>
                          Bonjour...(réponse bonjour), je m'appelle XX, je vous appelle suite à votre inscription sur Ding Dong pour vous expliquer comment Ding Dong fonctionne, discuter de votre projet et vous donner accès à notre alerte immobilière. 
                          <br><br>(réponse : très bien)
                          <br><br>Nous analysons en continu tous les sites immobiliers sur Paris et ses environs (plateformes, franchises, agences indépendantes) et vous envoyons les annonces au moment de leur publication avant les autres alertes, ce qui va vous permettre d'être dans les premiers à appeler et obtenir plus de visites. Nous vous conseillons d'être réactif.ve vous verrez rapidement la différence :)
                          <br><br>(réponse : génial OU je cherche le critère xx, est-ce que vous l'avez ? Voir les évolutions du produit ci-dessous) 
                        </p>
                        <p style="text-decoration:underline" id="pr-sentation-">
                          2. Recherche :
                        </p>
                        <p>
                          Comment se passe vos recherches ? Vous cherchez depuis combien de temps ?
                          <br>Vous avez fait des visites/ des offres ?
                          <br><br>(réponse : détail de la recherche et des offres faites, généralement les gens n'ont pas encore trouvé le bien qu'il leur plaisait, trouvent qu'il y a trop de candidats, ou que les apparts sont vendus trop vite, ils sont contents de parler de leur problématique et ils s'ouvrent)
                          <br><br>2 bis. Boost avant premiere
Pour augmenter vos chances de visite, nous travaillons avec plusieurs centaines d'agence qui proposent leurs biens en avant-première aux personnes inscrites sur leur fichier client avant de les mettre en ligne, nous pouvons pousser votre recherche aux agences qui proposent des biens dans votre zone de recherche, seriez-vous intéressé.e ?
                          <br><br>(réponse : oui beaucoup !)
                          <br><br>Ok nous vous écrirons sur Messenger lorsque ce sera fait.
                        </p>
                        <p style="text-decoration:underline" id="pr-sentation-">
                          3. Financement :
                        </p>
                        <p>
                          En plus de notre alerte, qui vous aide dans vos recherches d'appartements, nous pouvons vous aider sur le financement de votre bien. Je suis courtier chez Meilleurtaux, j'aide les acheteurs à trouver le meilleur financement possible. Nous avons des relations privilégiées avec toutes les banques du marché, que nous mettons en concurrence en fonction du profil de nos clients.
                          <br> Comment avez vous estimé votre budget ? Vous avez déjà vu une banque ou un courtier ?
                          <br><br>(réponse : j'ai vu ma banque, un courtier ...)
                          <br><br>Je peux vous préparer gratuitement un plan de financement si vous voulez ? (maintenant ou plus tard)
Si la personne a déjà eu un taux : Ok super, je peux vous dire si vous avez obtenu un bon taux si vous le souhaitez ? 
si non : Les taux changent tous les mois, si vous souhaitez connaitre les meilleures conditions du moment plus tard dans votre recherche vous pouvez faire appel à moi.
et tous les autres tricks que vous connaissez en fonction du profil de la personne que vous avez en face de vous :) attestation de financement personnalisé, etc...
                        </p>
                        <p style="text-decoration:underline" id="pr-sentation-">
                          4. Accès à Ding Dong et fin du RDV :
                        </p>
                        <p>
                         Je viens de valider votre compte, vous recevrez maintenant toutes les annonces en temps réel sur notre conversation Messenger.
                        <br><br>Avez-vous une question ? 
                        <br><br>(réponse : parfois sur des critères spécifiques ou sur l'alerte ...)
                        <br><br>Si vous souhaitez nous écrire, vous pouvez le faire directement dans la conversation Messenger, nous répondons rapidement !
                        <br> Merci beaucoup d'avoir pris le temps, bienvenue chez Ding Dong et à bientôt.
                        </p>

                      </td>
                    </tr>
                </tbody>
              </tr>
              <tr>
                  <td align="center" style="padding-left:20px;padding-right:20px">
                      
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>

                              <td align="center" width="100%" height="25">&nbsp;</td>
                          </tr>
                          <tr>
                              <td class="m_-1867408558110905584contents" align="center" style="color:#262626;font-family:sans-serif,'Source Sans Pro';font-size:11px;line-height:13px;padding-top:0px;padding-bottom:0px;padding-right:20px;padding-left:20px;width:100%;text-align:center;width:600px">
                                 <span class="il">©Ding Dong 2020 - <a href='https://hellodingdong.com'>hellodingdong.com</a></span> <br>

                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
  </center>
  <img height="0" width="0" alt="" src="https://ci5.googleusercontent.com/proxy/p939GwCMsdBt2MjMpiRpW62TWnpAkjKoV2k4_qlNlor3Yo8Nf4TlcxpDUTtvzQdMPGtf_f0PFCrKm7SOIkAYM9bABIiuUJDR8A=s0-d-e1-ft#http://t7.al.alerteimmo.com/r/?id=h433655df,291b4fe6,1" class="CToWUd">
</div>