<p>Bonjour Hugo</p>
<p>Voici la synthèse hebdomadaire de tes contacts Ding Dong</p>

<h3>Statistiques de tes clients </h3>
<table>
  <tr>
    <th> Nombre de client sur Ding Dong</th>
    <td><%= @dd_all.count %></td>
  </tr>
  <tr>
    <th> Sur les 7 derniers jours </i></th>
    <td><%= @dd_week.count %></td>
  </tr>
</table>

<h4>En détail</h4>
<table>
  <tr>
    <th> Nom</th>
    <th> Inscription le</th>
    <th> Annonce toujours active ? </th>
    <th> Critères de recherche ?</th>
    <th> Coordonnées</th>
  </tr>
  <% @dd_subs_data.each do |sub|%>
    <tr>
      <td> <%= sub[:name] %></td>
      <td> <%= sub[:created_at] %></td>
      <td> <%= sub[:stop] %></td>
      <td> <%= sub[:criteria] %> </td>
      <td> <%= sub[:coords] %> </td>
    </tr>
  <% end %>
</table>

<style>
table, tr, th, td {
  border:  1px solid #000;
}
</style>